include README.md
include LICENSE
recursive-include providers *.py
recursive-include dbeeapp/_vendor *
recursive-include docs *.md
recursive-include examples *.yaml *.sql .gitkeep
recursive-include config *.yaml
include config/dbeeapp.yaml.example
recursive-include testbed *.yaml *.sql
include requirements-runtime.txt
include tools/vendor_runtime.py
global-exclude *.py[cod]
recursive-include tests *.py
include tools/vendor_runtime.py